:root {
    --main-color: #fff;
    --second-color: #2E2F42;
    --paragraph-color: #434455;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--second-color);
    background: #FFFFFF;
}

.container{
    width: 1440;
    margin: 0 auto;
}

.list {
    list-style: none;
 }

 .link {
    text-decoration: none;
 }

 .title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
 }
 
 .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-color); 
 }

 .paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);  
 }

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .current:visited {
    color: #4D5AE5;
  }
  /* ----------- header ----------- */

  .header {
    padding: 24px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    margin-left: 156px;

}

.header-logo span {
    color: #4D5AE5;
}

.header-item {
    padding-left: auto;
    padding-right: 40px;
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-color);
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.header-adress {
}
.header-list {
    display: flex;
    gap: 40px;
}

.header-contacts {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--paragraph-color);   
}

.header-contacts:hover,
.header-contacts:focus {
    color: #404BBF;
}


/* ----------- main ----------- */

.main {
    background: #2E2F42;
}
.main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--main-color);    
}
.main-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background: #4D5AE5;
}
.main-btn:hover,
.main-btn:focus {
    color: #FFFFFF;
    background: #404BBF;
}

/* ----------- skills ----------- */

.skills {
}

.skills-list {
}

.skills-item {
}
.skills-item-title { 
}
.skills-item-text {
 
}


/* ----------- work ----------- */

.work {
}
.work-title {
    color: var(--second-color);    
}
.work-list {
}
.work-item {
}

/* ----------- team ----------- */

.team {
    background: #F4F4FD;
}
.team-title {
    color: var(--second-color); 
}
.team-list {
}
.team-item {
    color: #FFFFFF;
}
.team-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--second-color);    
}
.team-item-work {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--paragraph-color);    
}

/* ----------- footer ----------- */

.footer {
    background: #2E2F42;
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-logo span {
    color: #4D5AE5;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/* Portfolio Page Styles */

.Portfolio {
}

.Portfolio-list {
}

.portfolio-link:hover,
.portfolio-link:focus {
}

.portfolio-item {
}
.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #E7E9FC;
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}


